.checkout {
  background-image: none;
  width: 100%;
  background-color: #e8e8e8;

  .itemsCard {
    padding: 0px;
    .avatarColumn {
      padding-left: 20px;
      .avatarColumnImg {
        border-radius: 50%;
      }
    }

    .centerText {
      text-align: center;
    }
    .itemDetails {
      padding: 15px 0px 0px 20px;
      color: #323c3f;
      .itemDetailsHeading {
        font-weight: 500;
      }
      .itemDetailsContent {
        position: relative;
        margin-left: -2px;
        .itemDetailsContentBtnFirst {
          width: 50%;
          height: 1.8em;
          font-size: 1.2rem;
          background-color: #e2e4e4
        }
        .itemDetailsContentBtnSecond {
          position: absolute;
          width: 50%;
          height: 1.8em;
          font-size: 1.2rem;
          background-color: #e2e4e4
        }
      }
    }
  }
}
