.card-background-page {
  font-family: 'Roboto', sans-serif;
  .searchCard{
    min-height: 50px;
    margin-top: 15px;
    .iconSearch{
          color:#a6a6ad;
              position: absolute;
    font-size: 25px;
    left: 20%;
    }
    input[type="text"]{
        font-family: 'Noto Sans', sans-serif;
        border:none;
        position: absolute;
        left: 30%;
        width: 60%;
        font-size: 20px;
        margin-top: -2px;
      }
  }
  .centerLineDiv{
    width: 20%;
    border-top: 2px solid #bec0c1;
    margin: 0px auto;
    margin-top: 20px;
  }
  .centerLineBottomDiv{
    width: 20%;
    border-top: 2px solid #bec0c1;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .centerHeading{
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
  }

    .isOdd {
      margin: 10px 15px 10px 5px;
    }
    .isEven {
      margin: 10px 5px 10px 15px;
        clear: both;
    }
    .isSecond{
      margin-top:10px; 
    }

  .ion-card-Main {
    position: relative;
    width: calc(50% - 20px);
    float: left;
    height: 300px;
    .itemImg{
      margin: 10px auto;
      width: auto;
      max-height: 220px;
    }
    //text-align: center;
    .ribbon-wrapper-green {
      width: 85px;
      height: 88px;
      overflow: hidden;
      position: absolute;
      top: -3px;
      right: -3px;
    }
    .ribbon-green {
      font: bold 15px Sans-Serif;
      color: #333;
      text-align: center;
      text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
      -webkit-transform: rotate(45deg);
      -moz-transform:    rotate(45deg);
      -ms-transform:     rotate(45deg);
      -o-transform:      rotate(45deg);
      position: relative;
      padding: 7px 0;
      left: -5px;
      top: 15px;
      width: 120px;
      background-color: #BFDC7A;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
      background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
      background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
      background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
      background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
      color: #6a6340;
      -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
      -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
      box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
    }
  }

  .card-title {
    position: absolute;
    top: 80%;
    font-size: 1.3em;
    width: 100%;
    font-weight: bold;
    color: #000;
    text-align: center;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 88%;
    width: 100%;
    color: #000;
    text-align: center;
  }

   .loadMoreBtnDiv{
    overflow: hidden;
    margin: 0px auto;
    padding-top: 20px;
    margin-bottom: 45px;
    width: 50%;
    .loadMoreBtn{
      background-color: #3a4144;
      height: 50px;
      font-weight: 100;
    }
  }
}
